{% extends "::base.html.twig" %}

{% block heading_container %}
    {% include ('QuoteCMSModeratorBundle:Header:Header.html.twig') %}
{% endblock %}

{% block container %}
    <div class = "panel panel-default">
        <div class = "panel-heading">
            Activités Récentes
        </div>
        <div class = "panel-body">
            nazeklfjazlmj,fza
            azflkza,famzf
            azflmkzafjzkalfjzalkmf,zafza,lmkfza,fza
            fzamlk,f,zalmkfza
            fzakl,fzaef,za
            zaklf,zalkzf,
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} Moderator Zone{% endblock %}
