{% extends "::base.html.twig" %}
{% block order_view %} Les pires {% endblock %}
{% block heading_container %}
    <ol class="breadcrumb">
        <li><a href="{{ path('quote_cms_core_homepage') }}">Accueil</a></li>
        <li class="active">Les moins bien notées</li>
    </ol>
{% endblock %}

{% block container %}
    {% if posts is empty %}
        <div class="well text-center">
            Encore aucune #GL !
        </div>
    {% else %}
        {% include 'QuoteCMSPostBundle:List:List.html.twig' with {'posts' : posts, 'notShowFirst' : false } %}
    {% endif %}
{% endblock %}

{% block title %}{{ parent() }} Les moins bien notées{% endblock %}

{% block description %}Les #GL les moins bien notés{% endblock %}
{% block keywords %}{{ parent() }}, moins bien noté, nul{% endblock %}
