<div class="form-group">
    <div class ="col-lg-11">
        {{ form_widget(form.message, { 'attr': {'class' : 'form-control', 'rows': "7"  } }) }}
    </div>
</div>
{{ form_rest(form) }}
<input class = "btn btn-default" type="submit" value="Envoyer !" />
