{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} Mentions légales{% endblock %}
{% block description %}Mentions légales de Gamer's Life {% endblock %}
{% block keywords %}{{ parent() }}, mentions légales, droit{% endblock %}

{% block nav_heading %}
<div class="panel panel-default">
  <div class = "panel-heading">
    Conditions & Politique
  </div>
  <div class = "panel-body">
    <ul class="nav nav-tabs-custom">
      <li role="presentation" class="text-center active"><a href="#mentions">Mentions légales</a></li>
      <li role="presentation" class="text-center"><a href="#conditions">Conditions d'utilisations</a></li>
      <li role="presentation" class="text-center"><a href="#politique">Politique de confidentialité</a></li>
      <li role="presentation" class="text-center"><a href="#Remerciements">Remerciements</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-lg-12" >
    <div class="panel panel-default ">
      <div class = "panel-heading">
        <div class="row">
          <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class = "pull-left">
              Mentions Légales
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class = "row">
          <div class = "col-lg-12">
            <p>
              SilentDev est l’éditeur du site Gamers-life.fr. Les internautes sont les rédacteurs des contributions présentes sur le site. {# Conformément à l’article 34 de la loi Informatique et Libertés N°78-17 du 6 janvier 1978, le site internet Gamers-life.fr a été déclaré à la Commission Nationale de l’Informatique et des Libertés.#}<u>Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant.</u> Pour toutes réclamations, contactez nous: support@Gamers-life.fr. Les demandes adressées via une autre voie ne seront pas nécessairement prises en comptes.
            </p>
            <p>
              Hébergement du site : OVH.com
            </p>
            <p>
              Copyright © 2015 Gamers-life.fr - Tous droits réservés. Les noms des éditeurs, des médias, des services et plus généralement des produits mentionnés sont les marques de leurs propriétaires respectifs. Tous les droits qui ne sont pas expressément concédés sont réservés par Gamers-life.fr.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class = "panel-heading">
        <div class="row">
          <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class = "pull-left">
              Conditions d'utilisations
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          L'utilisation des soumissions à partir du serveur Gamers-life.fr ou des flux RSS émis par Gamers-life.fr est autorisée, à condition qu'aucune modification ne soit apportée et que l'utilisation de ces articles se fasse à des fins personnelles ou d'information et non à des fins commerciales. L'utilisation des soumissions à toute autre fin est strictement prohibée par la loi. Toute personne ne respectant pas les dispositions légales applicables se rend coupable du délit de contrefaçon et est passible des sanctions pénales prévues par la loi. Les informations désignées ci-dessus n'incluent pas la conception ou la mise en page du site internet Gamers-life.fr ou de tout autre site géré, contrôlé ou appartenant à SilentDev. Les éléments des sites internet de SilentDev sont protégés par le droit des dessins et modèles, le droit d'auteur, le droit des marques ainsi que par la réglementation applicable à la concurrence déloyale et ils ne peuvent être copiés ou imités en tout ou partie. Sauf autorisation expresse de SilentDev, aucun logo, élément graphique, son ou image provenant d'un site Web de SilentDev ne peut être copié ou diffusé. SilentDev n'effectue aucune déclaration sur le caractère approprié à un usage particulier des informations contenues dans les soumissions publiées sur ce service et dans les éléments graphiques publiés du serveur. Tous les articles et éléments graphiques sont fournis "En l'état" sans garantie d'aucune sorte. SilentDev exclut toute garantie implicite relative aux informations susmentionnées, notamment toute garantie implicite de qualité, d'adéquation à un usage particulier, de propriété et d'absence de contrefaçon. SilentDev ne sera en aucun cas responsable, quel que soit le fondement de l'action en responsabilité invoqué, des dommages indirects, accessoires ou incidents (ni de tout dommage qui résulte d'une mauvaise interprétation d'un article, d'une désinformation ou d'une diffamation) résultant de, ou liés à l'utilisation ou à la mise en page des informations rediffusées par ce service. Les soumissions rediffusées et les éléments graphiques publiés sur le serveur Gamers-life.fr sont susceptibles de contenir des inexactitudes ou des erreurs typographiques. Des changements sont périodiquement apportés aux sources d'informations référencées par le moteur de recherche. Enfin, SilentDev peut apporter, à tout moment, des améliorations ou des modifications aux services offerts par ses sites Web. Vous ne pouvez utiliser le site Web Gamers-life.fr qu'à des fins personnelles, c'est à dire à des fins non commerciales et aucunement de manière illégale ou de façon à nuire à SilentDev, son équipe, et aux utilisateurs "contributeurs" qui postent des commentaires ou des soumissions. Sans limiter le caractère général du présent article, vous ne pouvez pas utiliser le site Web Gamers-life.fr d'une manière susceptible d'endommager, de mettre hors d'action, d'accabler ou de compromettre SilentDev. En ce qui concerne les commentaires ou les soumissions publiées par un membre, l'auteur accorde à SilentDev l'autorisation (1) d'utiliser, copier, distribuer, transmettre, afficher publiquement, présenter publiquement, reproduire, éditer, modifier, traduire et reformater sa contribution dans le cadre du site Web Gamers-life.fr ou de ses partenaires et applications, et (2) de sous-concéder ces droits, dans toute la mesure permise par la réglementation applicable. Les contributions postées sur GL.fr ne sont pas rémunérées. Gamers-life.fr peut supprimer un commentaire ou une soumission à tout moment. Pour chaque contribution, l'auteur déclare disposer de tous les droits nécessaires afin d'accorder les autorisations prévues dans le présent article. SilentDev se réserve le droit de modifier les termes, conditions et mentions d'avertissement applicables à ses sites Web. Il vous incombe de consulter régulièrement ces termes et conditions d'utilisation. Votre utilisation renouvelée du site Web Gamers-life.fr, après la date effective de telles ou telles modifications, constitue l'acceptation de votre part de toutes ces modifications.
        </p>
        <p>
          Toutes les histoires présentes sur ce site ont été postées sous la responsabilité exclusive des personnes nous les ayant soumises. Gamers-life.fr ne pouvant garantir cette origine, n'endossera aucune plainte à ce sujet.
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class = "panel-heading">
        <div class="row">
          <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class = "pull-left">
              Politique de confidentialité
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          En tant qu’internautes et explorateurs invétérés d’internet, l’équipe de Gamers-life.fr se sent particulièrement concernée par la sécurité de ses utilisateurs. Nous mettons un point d’honneur à protéger vos données personnelles afin ce que vous puissiez naviguer en toute tranquillité sur nos sites internet.
        </p>
        <iframe class ="piwik-iframe" src="https://piwik.gamers-life.fr/index.php?module=CoreAdminHome&amp;action=optOut&amp;idsite=3&amp;language=fr"></iframe>
        <p>
          Quelles sont les données recueillies ?
        </p>
        <blockquote class="faq-blockquote">
          <p>
            Gamers-life.fr ne collecte des informations personnelles que dans le respect des lois applicables. La réception d’informations résultera toujours de l’interactivité entre vous et Gamers-life.fr (comme la création/modification de compte, les inscriptions aux concours, les achats dans la boutique en ligne).
            Gamers-life.fr peut donc vous demander de lui communiquer certaines informations personnelles, dont votre nom, adresse, téléphone, votre adresse électronique, âge et/ou votre date de naissance. Nous ne demandons pas ces informations si vous ne faites que visiter nos sites, mais vous ne pourrez participer à certaines zones de ces sites sans vous enregistrer.
          </p>
        </blockquote>
        <p>
          Qu’en faisons nous ?
        </p>
        <blockquote class="faq-blockquote">
          <p>
            Les informations que vous nous fournissez sont hébergées par le prestataire OVH.com sur les serveurs de Gamer’s Life.
            Nous ne revendons pas ces informations et ne les mettons pas à disposition de partenaires commerciaux, comme cela se passe pour la majorité des sites Web. Respecter la vie privée de nos utilisateurs est une des motivations essentielles de l’équipe Gamers-life.fr.
            Vos données peuvent être utilisées pour générer des statistiques sur la communauté de Gamers-life.fr. (Cependant, nos logiciels de statistiques anonymisent votre adresse IP, afin de ne pas pouvoir vous identifier.) Elles peuvent aussi servir à améliorer votre sécurité sur le site Web et/ou le système.
            Les informations que vous fournissez nous permettent également répondre à vos requêtes, annoncer les gagnants de concours, l'envoi de courriers.
          </p>
        </blockquote>
        <p>
          Comment protégeons nous vos informations personnelles ?
        </p>
        <blockquote class="faq-blockquote">
          <p>
            Gamers-life.fr met un point d’honneur à protéger toutes les données fournies par ses utilisateurs.
            Vos informations ne peuvent être modifiées que par vous, et leur accès est contrôlé de manière stricte.
          </p>
          <p>
            Nous utilisons dans le cadre du développement de la firme Gamer’s life des logiciels libres. En outre, Gamers-life.fr ne passe par aucun tiers, de manière à garder une totale indépendance et le contrôle de ses informations.
          </p>
          <p>
            Cette centralisation a également pour but d'accroître votre sécurité et celle du site Web.
          </p>
        </blockquote>
        <p>
          Puis-je modifier mes données ?
        </p>
        <blockquote class="faq-blockquote">
          <p>
            Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant. Pour ce faire, adressez un courriel à support@gamers-life.fr.
          </p>
        </blockquote>
        <p>
          Je veux passer du temps sur Gamers-life.fr au boulot…
        </p>
        <blockquote class="faq-blockquote">
          <p>
            Gamers-life.fr ne saurait être tenu responsable si votre boîte fait faillite. Néanmoins… un peu de détente ne fait de mal à personne !
            Le site Gamers-life.fr utilise exclusivement le protocole sécurisé (HTTPS) pour l'envoi et la réception d'informations sur le réseau, ce qui rend très difficile de voir ce que vous faites quand vous surfez sur notre site pour une tierce personne.
            Amusez-vous !
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class = "panel panel-default" >
  <div class = "panel-heading">
      <div class="row">
        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class = "pull-left">
            Remerciements
          </div>
        </div>
      </div>
  </div>
  <div class = "panel-body">
    <p>
      Gamer's Life ne pourrait pas exister sans certains projets Open Source, la moindre des choses est de remercier ces projets Open Source géniaux ! Certain d'entre eux ont été modifiés pour nos besoins.
    </p>

    <p><b>Projets utilisés lors de la réalisation de Gamer's Life :</b></p>
    <ul>
      <li><a href = "https://atom.io/" target="_blank">Atom</a> : Editeur de texte utilisé pour écrire le code qui fait fonctionner le site</li>
      <li><a href = "https://gitlab.com/gitlab-org/gitlab-ce" target="_blank">Git et GitLab CE</a> : Système de versioning</li>
      <li><a href = "https://www.chromium.org/" target = "_blank">Chromium</a> : Le navigateur open source qui se cache derrière Google Chrome</li>
      <li><a href = "https://www.mozilla.org/fr/firefox/new/" target = "_blank">Firefox</a> : Est il nécessaire de le présenter ? Je ne pense pas, il a été utilisé avec l'extension <a href = "https://addons.mozilla.org/fr/firefox/addon/firebug/" target= "_blank">Firebug</a></li>
      <li><a href = "https://www.virtualbox.org/wiki/Downloads" target = "_blank">VirtualBox Open Source Edition (OSE)</a> : Hyperviseur qui nous a permis de virtualiser l'infrastructure logiciel des serveurs de production sur la machine de dev</li>
      <li><a href = "http://lesscss.org/" target = "_blank">Less</a> : Permet de modifier facilement le CSS et de générer un fichier CSS propre
    </ul>

    <p><b>Projets utilisés par le site en production : </b></p>
    <ul>
      <li><a href = "https://www.debian.org/" target="_blank">Debian GNU/Linux</a> : Système d'exploitation des serveurs de Gamer's Life</li>
      <li><a href = "https://www.nginx.org/" target = "_blank">Nginx</a> : Serveur web</li>
      <li><a href = "https://www.openssl.org/" target = "_blank">OpenSSL</a> : C'est lui qui s'occupe de gérer le protocol TLS (HTTPS) coté serveur. (Notre version n'est pas sujet à HeartBleed, bien tenté :D)</li>
      <li><a href = "https://www.docker.com/" target= "_blank">Docker et donc LXC</a> : Conteneur, déploiment facile</li>
      <li><a href = "http://www.linux-kvm.org/" target="_blank">Linux KVM</a> : Quand LXC ne suffit plus pour nos besoins</li>
      <li><a href = "https://secure.php.net/" target="_blank">PHP</a> : Langague utilisé pour écrire Gamer's Life</li>
      <li><a href = "https://mariadb.org/" target="_blank">MariaDB</a> : Base de donnée du site</li>
      <li><a href = "https://symfony.com/" target = "_blank">Symfony</a> : Framework utilisé pour écrire le site</li>
      <li><a href = "https://jquery.com/" target="_blank">Jquery</a> : Librairie javascript qui simplifie la vie</li>
      <li><a href = "http://modernizr.com/" target = "_blank">Modernizr</a> : Librairie javascript qui permet de détecter la configuration du navigateur du visiteur et donc adapter le site à son terminal</li>
      <li><a href = "http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> : Framework CSS / Javascript qui simplifie aussi la vie</li>
      <li><a href = "https://lipis.github.io/bootstrap-social/" target = "_blank">Bootstrap Social Button</a> : Boutons des réseaux sociaux</li>
      <li><a href = "https://twitter.github.io/typeahead.js/" target = "_blank">Typehead.js</a> : Librairie javascript pour l'auto complétion dans les formulaires</li>
      <li><a href = "http://www.dropzonejs.com/" target = "_blank">DropZone.js</a> : Librairie javascript pour facilité le multi upload (vos screenshot !)</li>
      <li><a href = "https://glyphicons.com/" target="_blank">Glyphicon</a> : Petites icones sympas integrées à Bootstrap</li>
      <li><a href = "https://fortawesome.github.io/Font-Awesome/">Font Awesome</a> : D'autres petites icones sympas</li>
      <li><a href = "https://www.discourse.org/" target="_blank">Discourse</a> : Le forum et les smileys des commentaires</li>
      <li><a href = "https://piwik.org" target = "_blank">Piwik</a> : Outil de statistique respectant la vie privée des utilisateurs</li>
    </ul>

    <p>
      Un grand merci à tous ces projets qui ont rendu l'idée de Gamer's Life concrète, il est possible que certains projet aient été oublié dans cette liste n'hésitez pas à nous le signaler a contact@Gamers-life.fr
    </p>

  </div>
</div>
{% endblock %}
