{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} Règlement de la communauté{% endblock %}
{% block description %}Réglement de la comunauté Gamer's Life{% endblock %}
{% block keywords %}{{ parent() }}, Réglement{% endblock %}

{% block nav_heading %}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-default">
                <div class = "panel-heading">
                    Règlement de la communauté
                </div>
                <div class="panel-body">
                    <p>
                        Les membres de Gamer’s life peuvent utiliser les espaces communautaires pour s’échanger leurs histoires, leurs idées, discuter, rires, pleurer ensembles et bien d’autres. Ils comprennent: les commentaires, le forum et les réseaux sociaux.
                    </p>
                    <p>
                        Afin que l’esprit convivial et piquant de l’équipe gamers-life.fr pérenne jusque dans les moindres recoins du sites, nous demandons à nos utilisateurs d’observer quelques règles. gamers-life.fr se réserve les droits d’intervenir et de suspendre ou supprimer les comptes en cas de non respect du Règlement de la communauté.
                    </p>
                    <br>
                    <p>
                        Respecter la communauté
                    </p>
                    <blockquote class="faq-blockquote">
                        <p>
                            Gamers-life.fr a été crée dans un but de détente et d’amusement. Chaque utilisateur a le droit à la parole, d’exprimer ses idées, de commenter, d’aimer ou non une histoire. Nous demandons donc à nos internautes de respecter cette liberté, sans toutefois en abuser.
                        </p>
                    </blockquote>
                    <p>
                        Respecter l’identité et la vie privée des autres internautes
                    </p>
                    <blockquote class="faq-blockquote">
                        <p>
                            Le contenu soumis à gamers-life.fr est publique. Vous devez respecter la vie privé de chacun et ne publier aucune information personnelle sans le consentement des personnes concernées. Cela est valable pour toutes les plateformes gamers-life.fr.
                            De même, gamers-life.fr sert avant tout à partager les histoires de véritables gens, avec la possibilité d’en discuter ensemble. Il est donc interdit d’usurper l’identité d’une autre personne ou d’utiliser son adresse mail.
                        </p>
                        <p>
                            Nous n’autorisons pas l’utilisation de compte multiples.
                        </p>
                        <p>
                            Enfin, il est interdit de se faire passer pour Moo.
                        </p>
                    </blockquote>
                    <p>
                        Ne pas publier de contenu choquant, violent, à caractère sexuel
                    </p>
                    <blockquote class="faq-blockquote">
                        <p>
                            Gamers-life.fr n’accepte aucun contenu choquant, violent où à caractère sexuel, sauf s’il est issu d’un jeu vidéo autorisé par la loi.
                        </p>
                        <p>
                            Une capture d’écran de baston sur Counter Strike est amusante, cela l’est nettement moins lorsqu’il s’agit de violences et autres faits choquants dans la vie réelle. N’oubliez pas qu’en plus de dégrader l’image du site, vous pouvez heurter la sensibilité de certains utilisateurs.
                        </p>
                    </blockquote>
                    <p>
                        Pas d’incitation à la haine, menaces, harcèlements
                    </p>
                    <blockquote class="faq-blockquote">
                        <p>
                            Gamers-life.fr est un espace où nous donnons à chacun la possibilité de s’exprimer. Cette liberté doit avant tout servir dans un esprit de partage, d’amusement et d'entraide.
                            Nous ne tolérerons pas que nos espaces se dégradent en propos malveillants et autres remarques blessantes et insultantes, à l’encontre d’une catégorie de personnes sur le fondement de certaines caractéristiques telles que leur âge, handicap, état de santé, statut de vétéran, sexe, orientation sexuelle, identité de genre, nationalité, origine nationale, raciale, ethnique ou culturelle, ou religion.
                        </p>
                        <p>
                            Vous pouvez faire partager votre point de vue et le faire accepter sans avoir recours à la force.
                            Les comportements dangereux, les persécutions, les menaces, le harcèlement, les intimidations, la violation de la vie privée, la divulgation d'informations personnelles d'autrui et l'incitation à la violence ou au non-respect de nos conditions d'utilisations sont des actes que nous prenons très au sérieux. Toute personne s'adonnant à ce genre d'acte peut se voir exclu définitivement de gamers-life.fr.
                        </p>
                    </blockquote>
                    <p>
                        Spam
                    </p>
                    <blockquote class="faq-blockquote">
                        <p>
                            Vous n’aimez pas le spam ? Nous non plus.
                        </p>
                        <p>
                            Notre but est de vous proposer un site propre et bien rangé. Par conséquent, il est interdit d’utiliser gamers-life.fr pour la vente directe de produits ou de services. Il est également interdit de poster sur notre forum où notre site des contenus en masse, notamment non ciblés, indésirables ou répétitifs.
                        </p>
                    </blockquote>
                    <p>
                        Si vous rencontrez un problème, ou un contenu non approprié signalez le. Contactez-nous à cette adresse: support@gamers-life.fr
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
